<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card [Id]="noticiaPrincipal.id" [cardTitle]="noticiaPrincipal.title" [photoCover]="noticiaPrincipal.photoCover">
    </app-big-card>

  </div>
  <div class="articles__others scrollbar__custom">
    <ng-container *ngFor="let noticia of noticiasSecundarias">
      <app-small-card [Id]="noticia.id" 
        [cardTitle]="noticia.title"
        [photoCover]="noticia.photoCover">
      </app-small-card>
    </ng-container>
  </div>
</div>