/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #111111;
  color:white;
  font-family: 'Segoe UI';
}

a{
  text-decoration: none;
}


/* Media query para telas médias */
@media screen and (max-width: 800px) {

}

/* Media query para telas pequenas */
@media screen and (max-width: 600px) {

}